@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Cera Pro Bold';
  src: url('./fonts/Cera-Pro-Bold.woff2');
  src: url('./fonts/Cera-Pro-Bold.woff');
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('./fonts/Cera-Pro-Medium.woff2');
  src: url('./fonts/Cera-Pro-Medium.woff');
}

@font-face {
  font-family: 'Cera Pro Regular';
  src: url('./fonts/Cera-Pro-Regular.otf');
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url('./fonts/Cera-Pro-Light.otf');
}

@font-face {
  font-family: 'Cera Pro Thin';
  src: url('./fonts/Cera-Pro-Thin.otf');
}

body {
  font-family: 'Cera Pro Medium';
  background-color: #F8F8F8;
}

.container {
  position: absolute;
  top: 270px;
  left: 67%;
  width: 27.5%;
  background-color: #FFFFFF;
  padding: 19px;
  margin-block-end: 52em;
}

.tag {
  font-family: 'Cera Pro Regular';
  box-sizing: inherit;
  display: inline-block;
  padding: 0.19rem 0.625rem;
  background-color: #FFCF00;
  font-size: 0.75rem;
  line-height: 1.1875rem;
}

.productLine {
  padding: 0;
  margin: 28px 0 3px 0;
  font-family: 'Cera Pro Bold';
  font-weight: 900;
  font-size: 50px;
  line-height: 0.1em;
  font-style: italic;
}

.productLine:hover {
  cursor: pointer;
}

.productTitle {
  font-weight: 500;
  margin-bottom: 25px;
}

.stars {
  display: inline-flex;
  height: 18px;
  width: 115px;
  padding-left: 0;
  padding-bottom: 2px;
  vertical-align: text-bottom;
  font-size: 18px;
  letter-spacing: 5px;
  color: #FFCF00;
}

.reviewText {
  vertical-align: 5%;
  color: #006DB7;
  padding-left: 18px;
  font-size: 14px;
}

.reviewText:hover {
  cursor: pointer;
}

.reviewCount {
  letter-spacing: 0.75px;
}

.price {
  font-family: 'Cera Pro Bold';
  font-weight: 550;
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 5px;
}

.availability {
  font-family: 'Cera Pro Regular';
  font-size: 13px;
  color: #008537;
  margin-bottom: 32px;
}

.bag {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 15px;
}

.bagAdjust {
  position: absolute;
  height: 42px;
  width: 45px;
  border: 1px solid #E0E0E0;
  color: black;
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 28px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: white;
}

.bagAdjust:hover {
  cursor: pointer;
}

.bagAdjust:focus {
  outline: none;
}

.minus {
  border-radius: 5px 0 0 5px;
}

.plus {
  left: 131px;
  border-radius: 0 5px 5px 0;
}

.disabled {
  color: #E0E0E0;
}

.disabled:hover {
  cursor: default;
}

.bagInput {
  position: absolute;
  left: 64px;
  height: 38px;
  width: 63px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  font-family: 'Cera Pro Regular';
  font-size: 15px;
  line-height: 0%;
}

.bagInput:focus {
  outline: none;
}

.customerLimit {
  color: #2C2C2C;
  position: absolute;
  left: 192px;
  display: inline-block;
  padding-top: 12px;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
}

.info {
  display: inline-block;
  margin-left: 8px;
  padding-top: 2px;
  padding-right: 1px;
  font-family: 'Cera Pro Regular';
  font-size: 12px;
  color: #757575;
  text-align: center;
  border: 1px solid #757575;
  width: 15px;
  height: 14px;
  border-radius: 15px;
}

.info:hover {
  cursor: pointer;
  color: rgb(0, 109, 183);
  border-color: rgb(0, 109, 183);
}

.addToBag {
  font-size: 14px;
  margin-block-start: 4.5em;
  font-family: 'Cera Pro Medium';
  background-color: #FD8024;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #FD8024;
}

.addToBag:hover {
  background-color: white;
  cursor: pointer;
}

.wishlist {
  margin-block-start: 1.32em;
  height: 32px;
  background-color: white;
  border: 0;
  padding: 5px;
  vertical-align: middle;
}

.wishlist:hover {
  cursor: pointer;
}

.wishlist:focus {
  outline: none;
}

.circle {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: white;
  border: 0;
  vertical-align: middle;
}

.heart {
  display: inline-block;
  width: 8px;
  position: relative;
  top: 5px;
  padding-right: 2px;
  border: 0;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}

.wishlistText {
  padding-left: 5px;
  display: inline-flex;
  font-family: 'Cera Pro Medium';
  font-size: 12px;
  vertical-align: middle;
}

.stock {
  margin: 0;
  font-family: 'Cera Pro Medium';
  font-size: 16px;
  margin-block-start: 1.5em;
  width: 100%;
  height: 65px;
  text-align: left;
  background-color: white;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.stock:hover {
  cursor: pointer;
}
.stock:focus {
  outline: none;
}

.expanded {
  border-bottom: 0;
}

.stockText {
  margin: 0;
  padding: 0;
  color: #2C2C2C;
  display: inline-flex;
}

.expander {
  color: #2C2C2C;
  font-size: 18px;
  position: absolute;
  right: 32px;
  display: inline-flex;
}

.storeHeader {
  margin-block-start: 0.02em;
  display: inline-block;
  width: 100%;
  padding-bottom: 18px;
}

.storeHeaderText {
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  padding-left: 5px;
  display: inline-flex;
  width: 32%;
  text-align: left;
  vertical-align: top;
}

.storeInfo {
  position: relative;
  left: 0;
  vertical-align: bottom;
  margin-bottom: 8px;
}

.changeStore {
  background-color: white;
  border: 0;
  position: absolute;
  right: 18px;
  display: inline-block;
  padding-top: 0;
  color: #006DB7;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 5px;
  width: 48%;
  margin-block-end: 0.08em;
}

.changeStore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.storeSelect {
  position: relative;
  color: #2c2c2c;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  background-color: white;
  border: 1px solid #E0E0E0;
  padding-top: 2px;
  padding-left: 18px;
  width: 100%;
  height: 63px;
  text-align: left;
}

.storeSelect:focus {
  outline: none;
}

.storeSelectHeader {
  color: #2c2c2c;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  line-height: 1.1875rem;
}

.storeSelectArrow {
  display: inline-flex;
  position: absolute;
  right: 18px;
  top: 23px;
}

.down {
  transform: rotate(90deg);
}

.up {
  transform: rotate(270deg);
}

.dropdown {
  position: relative;
  z-index:1000;
  width: 99.5%;
  background-color: white;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.dropdownItem {
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0 5px 18px;
}

.store {
  margin-block-start: 1.08em;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 35px;
  padding-bottom: 18px;
}

.storeInventory {
  position: absolute;
  left: 2px;
  top: 2px;
}

.inStock {
  color: rgb(0, 133, 55);
}

.outOfStock {
  color: rgb(208, 2, 27);
}

.storeTitle {
  font-family: 'Cera Pro Medium';
  color: #2c2c2c;
  font-size: 16px;
}

.storeStock {
  margin-block-start: 0.32em;
  font-family: 'Cera Pro Medium';
  font-size: 12px;
  color: #757575;
}

.storeDetails {
  margin-block-start: 0.32em;
  font-family: 'Cera Pro Regular';
  font-size: 15px;
  color: #757575;
}

.seeStore {
  margin-block-start: 1.32em;
  color: #006DB7;
  font-family: 'Cera Pro Medium';
  font-size: 14px;
}

.seeStore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.findStoreText {
  font-family: 'Cera Pro Regular';
  font-size: 14px;
}

.searchPanel {
  border-bottom: 1px solid #E0E0E0;
}

.storeSearch {
  width: 75%;
  height: 50px;
  border-right: 0;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 18px;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  margin-block-end: 1.32em;
}

.storeSearch:focus {
  outline: none;
}

.searchButton {
  vertical-align: top;
  width: 15%;
  height: 54px;
  border: 1px solid rgb(0, 109, 183);
  border-radius: 0 0.3125rem 0.3125rem 0;
  background-color: white;
}

.searchButton:hover {
  cursor: pointer;
}

.searchButton:focus {
  outline: none;
}

.similar {
  margin-block-start: 1.08em;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  margin-block-end: 0.8em;
}

.categories {
  margin-block-start: 0.75em;
  color: #006DB7;
  font-family: 'Cera Pro Medium';
}

.category:hover {
  cursor: pointer;
}

.nonFirst {
  margin-left: 15px;
}
