@font-face {
  font-family: 'Cera Pro Bold';
  src: url('./fonts/Cera-Pro-Bold.woff2');
  src: url('./fonts/Cera-Pro-Bold.woff');
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('./fonts/Cera-Pro-Medium.woff2');
  src: url('./fonts/Cera-Pro-Medium.woff');
}

@font-face {
  font-family: 'Cera Pro Regular';
  src: url('./fonts/Cera-Pro-Regular.otf');
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url('./fonts/Cera-Pro-Light.otf');
}

@font-face {
  font-family: 'Cera Pro Thin';
  src: url('./fonts/Cera-Pro-Thin.otf');
}

.container {
  border: 0;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 259.5px;
  /* max-width: 388px; */
  background-color: #FFF;
  color: #2c2c2c;
  padding: 1.125rem;
  border: 0;
  box-sizing: border-box;
}

.tag {
  font-family: 'Cera Pro Regular';
  box-sizing: inherit;
  display: inline-block;
  padding: 0.19rem 0.625rem;
  background-color: #FFCF00;
  font-size: 0.75rem;
  line-height: 1.1875rem;
}

.productLine {
  width: 100%;
  padding: 0;
  margin: 28px 0 3px 0;
  font-family: 'Cera Pro Bold';
  font-weight: 900;
  font-size: 50px;
  line-height: 0.1em;
  font-style: italic;
  box-sizing: inherit;
}

.productLine:hover {
  cursor: pointer;
}

.productTitle {
  font-family: 'Cera Pro Medium';
  font-weight: 500;
  margin-bottom: 25px;
  box-sizing: inherit;
}

.stars {
  box-sizing: inherit;
  display: inline-flex;
  height: 18px;
  width: 115px;
  padding-left: 0;
  padding-bottom: 2px;
  margin-right: 12px;
  vertical-align: text-bottom;
  font-size: 18px;
  letter-spacing: 5px;
  color: #FFCF00;
}

.reviewText {
  font-family: 'Cera Pro Medium';
  box-sizing: inherit;
  display: inline-block;
  vertical-align: 5%;
  color: #006DB7;
  font-size: 14px;
  margin-top: 12px;
  margin-left: 2px;
  margin-bottom: 12px
}

.reviewText:hover {
  cursor: pointer;
}

.reviewCount {
  box-sizing: inherit;
  letter-spacing: 0.75px;
}

.price {
  box-sizing: inherit;
  font-family: 'Cera Pro Bold';
  font-weight: 550;
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 5px;
}

.availability {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-size: 13px;
  color: #008537;
  margin-bottom: 32px;
}

.bagContainer {
  display: block;
  width: 100%;
}

.bag {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}

.quantity {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
}

.quantityBar {
  height: 2.7rem;
  display: flex;
  min-width: 10rem;
  margin-right: 1.125rem;
}

.bagAdjust {
  display: flex;
  flex-grow: 1;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
  color: black;
  font-family: 'Cera Pro Regular';
  font-weight: 300;
  font-size: 28px;
  background-color: white;
}

.bagAdjust:hover {
  cursor: pointer;
}

.bagAdjust:focus {
  outline: none;
}

.minus {
  border-radius: 5px 0 0 5px;
}

.plus {
  border-radius: 0 5px 5px 0;
}

.disabled {
  color: #E0E0E0;
}

.disabled:hover {
  cursor: default;
}

.bagInput {
  display: flex;
  position: relative;
  width: 63px;
  background: transparent;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: transparent;
  border-right: transparent;
  text-align: center;
  justify-content: center;
  font-family: 'Cera Pro Regular';
}

.bagInput:focus {
  outline: none;
}

.customerLimit {
  box-sizing: inherit;
  color: #2C2C2C;
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  font-size: 0.875rem;
}

.customerLimitText {
  font-family: 'Cera Pro Regular';
  line-height: 1.1875rem;
  white-space: nowrap;
}

.infoContainer {
  position: relative;
  box-sizing: inherit;
  display: block;
  line-height: 1.5;
  font-size: 16px;
  align-content: center;
}

.infoWrapper {
  display: inline;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-left: 0.3125rem;
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  color: rgb(117, 117, 117);
}

.info {
  font-size: inherit;
  display: inline-block;
  box-sizing: inherit;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 100%;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-transform: none;
  text-rendering: auto;
  text-indent: 0px;
  text-align: center;
  border-collapse: collapse;
}

.info:hover {
  border-color: rgb(0, 109, 183);
  cursor: pointer;
}

.info::before {
  display: block;
  content: " i ";
  color: rgb(117, 117, 117);
  box-sizing: inherit;
}

.info:hover::before {
  color: rgb(0, 109, 183);
  cursor: pointer;
}

.info:focus {
  outline: none;
}

.addToBag {
  display: inline-block;
  width: 100%;
  box-sizing: inherit;
  font-family: 'Cera Pro Medium';
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background-color: #FD8024;
  padding: 0.9375rem;
  border-radius: 4px;
  border: 2px solid #FD8024;
}

.addToBag:hover {
  background-color: white;
  cursor: pointer;
}

.addToBag:focus {
  outline: none;
}

.wishlist {
  box-sizing: inherit;
  height: 32px;
  background-color: white;
  border: 0;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 1.25rem;
}

.wishlist:hover {
  cursor: pointer;
}

.wishlist:focus {
  outline: none;
}

.circle {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: white;
  border: 0;
  vertical-align: middle;
}

.heart {
  box-sizing: inherit;
  display: inline-block;
  width: 8px;
  position: relative;
  top: 5px;
  padding-right: 2px;
  border: 0;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}

.wishlistText {
  box-sizing: inherit;
  padding-left: 5px;
  display: inline-flex;
  font-family: 'Cera Pro Medium';
  font-size: 12px;
  vertical-align: middle;
}

.storeContainer {
  position: relative;
  display: inline-block;
  box-sizing: inherit;
  width: 100%;
  height: auto;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.stock {
  display: block;
  text-align: center;
  align-items: flex-start;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 65px;
  text-align: center;
  background-color: transparent;
  border: 0;
}

.buttonTextWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 1.25rem 0px;
}

.stock:hover {
  cursor: pointer;
}
.stock:focus {
  outline: none;
}

.expanded {
  border-bottom: 1px solid transparent;
}

.stockText {
  margin: 0px;
  text-align: left;
  font-family: 'Cera Pro Medium';
  font-size: 1rem;
  line-height: 1.5625rem;
  color: rgb(44, 44, 44);
}

.expander {
  box-sizing: inherit;
  position: relative;
  display: block;
  float: right;
  margin-right: 0.625rem;;
  width: 23px;
  height: 23px;
  background: rgb(255, 255, 255);
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  padding: 1px;
}

.horizontal {
  box-sizing: inherit;
  display: block;
  position: absolute;
  width: 0.1875rem;
  height: 1.125rem;
  background-color: #2C2C2C;
  margin: 0;
  border: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 3px;
}

.vertical {
  box-sizing: inherit;
  display: block;
  position: absolute;
  width: 0.1875rem;
  height: 1.125rem;
  background-color: #2C2C2C;
  margin: 0;
  border: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 3px;
}

.horizontalInit {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: rotate(270deg);
}

.verticalInit {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: rotate(180deg);
}

.horizontalToggled {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: rotate(90deg);
}

.verticalToggled {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: rotate(90deg);
}

.storePanel {
  box-sizing: inherit;
  border: 1px solid transparent;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  padding-bottom: 1.25rem;
  overflow: visible;
}

.storeHeader {
  box-sizing: inherit;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 0px 0.9375rem;
  text-transform: inherit;
  vertical-align: middle;
}

.storeHeaderText {
  font-family: 'Cera Pro Regular';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-transform: inherit;
  box-sizing: inherit;
  color: rgb(44, 44, 44);
}

.changeStore {
  display: inline-block;
  width: auto;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Cera Pro Regular';
  font-size: 0.875rem;
  line-height: 1.1875rem;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #006DB7;
  text-transform: none;
  margin: 0;
  box-sizing: inherit;
  text-rendering: auto;
  text-indent: 0;
  margin-left: auto;
  margin-right: 2%;
}

.changeStore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.changeStore:focus {
  outline: none;
}

.changeStoreText {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-family: 'Cera Pro Regular';
  font-weight: 400;
  text-transform: inherit;
  box-sizing: inherit;
  display: inline-block;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  text-rendering: auto;
  text-indent: 0;
}

.selectPanel {
  box-sizing: inherit;
  position: relative;
  display: inline-block;
  width: 100%;
  border: 0;
}

.selectContainer {
  margin: 0;
  box-sizing: inherit;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
  height: fit-content;
  vertical-align: middle;
}

.storeSelect {
  box-sizing: inherit;
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  color: #2c2c2c;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  background-color: white;
  border: 1px solid #E0E0E0;
  padding-left: 18px;
  height: 63px;
  text-align: left;
  align-content: center;
  justify-content: space-between;
}

.storeSelect:hover {
  cursor: pointer;
}

.storeSelect:focus {
  outline: none;
}

.storeSelectText {
  vertical-align: middle;
}

.storeSelectHeader {
  display: block;
  box-sizing: inherit;
  color: #2c2c2c;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  line-height: 1.1875rem;
}

.storeSelectCurrent {
  display: block;
}

.storeSelectArrow {
  box-sizing: inherit;
  position: absolute;
  right: 18px;
  top: 18px;
}

.down {
  transform: rotate(0.25turn);
}
/*
transform: rotate(90deg);
transform: rotate(270deg);
*/
.up {
  transform: translate(5px, 0) rotate(-0.25turn);
}

.dropdown {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  overflow: visible;
}

.dropdownItem {
  box-sizing: inherit;
  z-index: 1;
  display: block;
  position: relative;
  text-align: left;
  font-family: 'Cera Pro Medium';
  font-size: 15px;
  color: #2c2c2c;
  background-color: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding: 15px 0 15px 50px;
  margin-right: 0px;
}

.dropdownItem:hover {
  cursor: pointer;
}

.dropdownItem:focus {
  outline: none;
}

.dropStoreInventory {
  box-sizing: inherit;
  position: absolute;
  left: 18px;
  top: 18px;
}

.store {
  box-sizing: inherit;
  margin-block-start: 1.08em;
  position: relative;
  padding-left: 35px;
}

.storeInventory {
  box-sizing: inherit;
  position: absolute;
  left: 2px;
  top: 2px;
}

.inStock {
  color: rgb(0, 133, 55);
}

.outOfStock {
  color: rgb(208, 2, 27);
}

.storeTitle {
  box-sizing: inherit;
  font-family: 'Cera Pro Medium';
  color: #2c2c2c;
  font-size: 16px;
}

.storeStock {
  box-sizing: inherit;
  margin-block-start: 0.32em;
  font-family: 'Cera Pro Medium';
  font-size: 12px;
  color: #757575;
}

.storeDetails {
  box-sizing: inherit;
  margin-block-start: 0.32em;
  font-family: 'Cera Pro Regular';
  font-size: 15px;
  color: #757575;
}

.seeStore {
  box-sizing: inherit;
  background-color: transparent;
  border: 0;
  padding-left: 0;
  margin-block-start: 1.32em;
  color: #006DB7;
  font-family: 'Cera Pro Medium';
  font-size: 14px;
}

.seeStore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.seeStore:focus {
  outline: none;
}

.findStoreText {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
}

.searchPanel {
  box-sizing: inherit;
}

.searchContainer {
  box-sizing: inherit;
  display: inline-flex;
  position: relative;
  width: 100%
}

.storeSearch {
  box-sizing: inherit;
  flex-grow: 1;
  height: 50px;
  border-right: transparent;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 15px;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  margin-block-end: 1.32em;
}

.storeSearch:focus {
  outline: none;
}

.searchButton {
  box-sizing: inherit;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 109, 183);
  border-radius: 0 0.3125rem 0.3125rem 0;
  background-color: white;
}

.searchButton:hover {
  cursor: pointer;
}

.searchButton:focus {
  outline: none;
}

.noStoreFound {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  color: #2C2C2C;
}

.similar {
  box-sizing: inherit;
  margin-block-start: 1.08em;
  font-family: 'Cera Pro Regular';
  font-size: 14px;
  margin-block-end: 0.8em;
}

.categories {
  box-sizing: inherit;
  margin-block-start: 0.75em;
  color: #006DB7;
  font-family: 'Cera Pro Medium';
}

.category:hover {
  cursor: pointer;
}

.nonFirst {
  margin-left: 15px;
}





.limitTooltipWrapper {
  position: relative;
  z-index: 2;
  width: 0;
  height: 0;
  overflow: visible;
  transform: translate(-333px, -130px);
}

.limitTooltip {
  z-index: 1;
  box-sizing: border-box;
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  width: 100vw;
  height: 100vh;
}

.limitTooltip:focus {
  outline: none;
}

.limitTooltipContainer {
  box-sizing: inherit;
  position: absolute;
  z-index: 3;
  width: 269px;
  height: 182px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.75rem;
  white-space: normal;
}

.limitTooltipContainer:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 45%;
}

.limitTooltipHeader {
  box-sizing: inherit;
  font-family: 'Cera Pro Medium';
  font-size: 20px;
  margin-block-end: 15px;
}

.limitTooltipText {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  line-height: 175%;
}

.limitX {
  box-sizing: inherit;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  padding: 1px;
  color: #2C2C2C;
}

.limitX:hover {
  cursor: pointer;
}

.limitX:focus {
  outline: none;
}





.closestTooltipWrapper {
  position: relative;
  z-index: 2;
  width: 0;
  height: 0;
  overflow: visible;
  transform: translate(-336px, -196px);
}

.closestTooltip {
  box-sizing: inherit;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  width: 100vw;
  height: 100vh;
}

.closestTooltip:focus {
  outline: none;
}

.closestTooltipContainer {
  box-sizing: inherit;
  position: absolute;
  display: block;
  z-index: 3;
  width: 269px;
  height: 295px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px 0px;
  display: block;
  text-align: left;
  padding: 1.75rem;
  white-space: normal;
}

.closestTooltipContainer:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 50%;
}

.closestTooltipHeader {
  box-sizing: inherit;
  font-family: 'Cera Pro Medium';
  font-size: 20px;
  margin-block-end: 15px;
}

.closestTooltipText {
  box-sizing: inherit;
  font-family: 'Cera Pro Regular';
  font-size: 16px;
  line-height: 175%;
}

.closestX {
  box-sizing: inherit;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  padding: 1px;
  color: #2C2C2C;
}

.closestX:hover {
  cursor: pointer;
}

.closestX:focus {
  outline: none;
}





.detailsTooltipContainer {
  box-sizing: inherit;
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.detailsTooltip {
  box-sizing: inherit;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.noScroll {
  overflow: hidden;
}

.detailsTooltip:focus {
  outline: none;
}

.detailsTooltipContent {
  box-sizing: inherit;
  position: absolute;
  z-index: 1000;
  /* top: 10vh;
  left: 32vw; */
  width: auto;
  height: auto;
  background-color: white;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px 0px;
  max-height: 95%;
  max-width: 82.5rem;
  overflow-y: auto;
}

.detailsX {
  box-sizing: inherit;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
}

.detailsX:hover {
  cursor: pointer;
}

.detailsX:focus {
  outline: none;
}
